<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="component/header :: common_header('VEC成绩查询')">
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:replace="component/nav :: nav"></div>
    <div th:replace="component/sidebar :: sidebar(listname='dashboard')"></div>


    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2 mt-2">
                    <div class="col-sm-7">
                        <h1>欢迎来到VEC成绩查询！</h1>
                        <i class="nav-icon fa fa-tachometer" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">今日访问人数</span>
                                <span class="info-box-number">[[${todayVisitNumber}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">新增用户</span>
                                <span class="info-box-number">[[${newUsernumber}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">用户人数</span>
                                <span class="info-box-number">[[${userNumber}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">本周访问人数</span>
                                <span class="info-box-number">[[${weekVisitNumber}]]</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>


    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.2
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>


<div th:replace="component/script :: js"></div>
</body>
</html>
