<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="component/header :: common_header('用户管理')">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:replace="component/nav :: nav"></div>
    <div th:replace="component/sidebar :: sidebar(listname='user')"></div>

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2 mt-2">
                    <div class="col-sm-7">
                        <h1>用户信息</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-hover text-nowrap" id="mytable" style="background: white">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>学号</th>
                                <th>姓名</th>
                                <th>第一次登录时间</th>
                                <th>最近登录时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user,list:${users}">
                                <td>[[${list.count}]]</td>
                                <td>[[${user.name}]]</td>
                                <td>[[${user.num}]]</td>
                                <td>[[${user.createTime}]]</td>
                                <td>[[${user.lastTime}]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.2
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>

<div th:replace="component/foot :: foot"></div>
<script>
    $(function () {
        $('#mytable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            'iDisplayLength': 12,//默认显示数量


            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                }
            }
        });
    })
</script>
</body>
</html>
